beautifulsoup4==4.14.3
faiss==1.9.0
firecrawl_py==4.14.1
fitz==0.0.1.dev2
gradio==6.6.0
jieba==0.42.1
langchain==1.2.10
langchain_core==1.2.13
langchain_mcp_adapters==0.2.1
langchain_openai==1.1.10
langgraph==1.0.8
loguru==0.7.3
Markdown==3.10.2
modelscope==1.33.0
nltk==3.9.2
numpy==2.4.2
openai==2.21.0
pandas==3.0.1
pdfplumber==0.11.9
Pillow==12.1.1
pydantic==2.12.5
pytest==9.0.2
python-dotenv==1.2.1
python_docx==1.2.0
python_pptx==1.0.2
sentence_transformers==5.2.0
torch==2.9.1+cu126
tqdm==4.67.3
trafilatura==2.0.0
transformers==4.48.3
